header {
    background: rgb(181, 126, 220);
    padding: 20px 0; 
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.titulo {
    position: relative;
    width: 940px;
    margin: 0 auto;
    text-align: center;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: aliceblue;
    font-size: 24px;
    text-decoration: underline;
}

.produto {
    width: 940px;
    margin: 50px auto;
    padding: 50px 0;
    box-sizing: border-box;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.produto li {
    text-align: center;
    width: 30%;
    margin: 0 1.5%;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #fff;
}

.produto li:hover {
    border-color: #c3b715;
}

.produto h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 10px;
}

.produto img {
    max-width: 100%;
    height: auto;
    border-radius: 15px; /* Aplica bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona sombra */
    margin-bottom: 10px;
}

.prod-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

/* Resetando alguns estilos padrão */
footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.footer-section {
    flex: 1;
    margin: 0 10px;
}

.footer-section h4 {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    padding: 10px;
    background-color: #222;
    color: #aaa;
}
